*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
  background: #0A0A0A;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #0A0A0A;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #0A0A0A;
  overflow-x: hidden;
}